.about-tittle{
    text-align: center;
    font-size: 70px;
    font-style: oblique;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    padding-top: 2.2rem;
    color:rgba(215, 215, 0, 0.85);
}

.section-margin{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.about-text{
    text-align: justify;
    font-size: 30px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 1rem;
}

.my-card{
    background-color: rgba(0, 0, 0, 0)!important;
    padding-top: 7%;
    padding-bottom: 4%;
}


@media screen and (max-width: 1400px) {
    .img-card{
        min-height: 350px;
        max-height: 380px;
    }
    .about-tittle{
        font-size: 65px;
    }
    .about-text{
        font-size: 25px;
    }
}

@media screen and (max-width: 1200px) {
    .img-card{
        min-height: 300px;
        max-height: 320px;
    }
    .about-tittle{
        font-size: 55px;
    }
    .about-text{
        font-size: 24px;
    }
    .section-margin{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 990px) {
    .img-card{
        min-height: 240px;
        max-height: 250px;
        min-width: 240px;
        max-width: 250px;
    }
    .about-tittle{
        font-size: 40px;
    }
    .about-text{
        font-size: 22px;
    }
    
}

@media screen and (max-width: 850px) {
    .img-card{
        min-height: 220px;
        max-height: 240px;
    }
    .about-tittle{
        font-size: 40px;
    }
    .about-text{
        font-size: 21px;
    }
}

@media screen and (max-width: 770px) {
    .card-s{
        width: 100% !important;
        justify-content: center;
        align-items: center;
    }
    .img-card{
        min-width: 250px;
        max-width: 255px !important;
        min-height: 240px;
        max-height: 250px;
    }
    
    .about-tittle{
        font-size: 50px;
        padding-top: 0.2rem;
    }
    .about-text{
        font-size: 23px;
        padding-top: 0.2rem;
        margin-bottom: 2%;
    }
}

@media screen and (max-width: 450px) {
    .img-card{
        min-width: 270px;
        max-width: 275px !important;
        min-height: 250px;
        max-height: 260px;
    }
    
    .about-tittle{
        font-size: 45px;
        padding-top: 0.2rem;
    }
    .about-text{
        font-size: 19px;
        padding-top: 0.2rem;
    }
    .my-card{
        padding-top: 2%;
        padding-bottom: 1%;
    }
}