.tool-item{
    color: rgb(0, 0, 0);
    font-size: 65px;
    padding: 20px!important;
    text-align: center;
    background-color:rgba(204, 40, 0, 0.89);
    border: 2px solid rgb(211, 202, 202);
    border-radius: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.45rem!important;
    margin-bottom: 0.45rem;
    max-height: 140px;

    position: relative;
    transform-style: preserve-3d;
    transition: all 500ms;
}

.section-margin{
    margin-top: 3rem;
}

.my-tools{
    border: 2px solid white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 10px;
    perspective: 1500px;
}

.img-tool{
    max-width: 85px;
    margin-bottom: 1rem;
}

.tools-tittle{
    font-style: oblique;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    color:rgba(215, 215, 0, 0.85);
    font-size: 55px;
    margin-bottom: 2rem;
}

.mt-p{
    padding-top: 4%;
    padding-bottom: 4%;
}

.back-content {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    background-color: white;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    background-color:rgba(30, 13, 122, 1);

    color:lavenderblush;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 35px;

    justify-content: center;

    border-radius: 10px;

}

.back-content p{
    padding-top: 10%;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.card-father:hover {
    transform: rotateY(180deg);
}

@media screen and (max-width: 1200px) {
    .tool-item{
        width: 17% !important;
        margin-right: 1%;
        margin-left: 1%;
    }
    .section-margin{
        margin-top: 1rem !important;
    }
    .tools-tittle{
        font-size: 45px;
    }
}

@media screen and (max-width: 990px) {
    .tool-item{
        width: 30% !important;
        margin-right: 1%;
        margin-left: 1%;
    }
    .tools-tittle{
        font-size: 40px;
    }
}

@media screen and (max-width: 850px) {
    .tool-item{
        width: 22% !important;
        margin-right: 1%;
        margin-left: 1%;
    }
    .back-content p{
        padding-top: 20%;
        font-size: 20px;
    }
}

@media screen and (max-width: 750px) {
    .tool-item{
        width: 95px !important;
        margin-right: 0.8%;
        margin-left: 0.8%;
        padding: 2px !important;
        max-height: 100px !important;
    }
    .img-tool{
        max-width: 65px;
        max-height: 65px;
        margin-bottom: 1.2rem;
    }
    .back-content p{
        font-size: 16px;
    }
}

